
 <!-- Product Search Start -->
 <div class="container-xxl py-13">
    <div class="container" >
        <p style="color: #000; font-weight: 500;">You search for : {{SearchText}}</p>
                <div class="row g-4">
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor ="let product of SearchResult"  >
                        <div class="product-item"  id ="tab-1" (click)="onClick(product)" >
                            <div class="position-relative bg-light overflow-hidden" >
                                <img class="img-fluid w-100" src="../assets/img/t_shirts/{{product.Product_Photo}}" alt="">
                                <!-- <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Sale</div> -->
                            </div>
                            <div class="text-center p-4">
                                <!-- <a class="d-block h5 mb-2" routerLink="/product-details/{{product.Product_Id}}">{{product.Product_Title}}</a> -->
                                <a class="d-block h5 mb-2"  >{{product.Product_Title}}</a>
                                
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-100 text-center border-end py-2">
                                     <a class="text-body"  ><i class="fa fa-eye text-primary me-2"></i>View detail</a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div> 


    