<!-- Navbar Start -->
<div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
    
    <div class="top-bar row gx-0 align-items-center d-lg-flex">
        <div class="col-lg-8 col-md-4  text-start">
            
        </div>
        <div class="col-lg-3 col-md-8 d-xl-block">
            <small class="ms-4 topbarsmall"><i class="fa fa-envelope me-2"></i>shailesh.vastra@gmail.com</small>
            <small class="ms-4 topbarsmall"><i class="fa fa-phone me-2"></i>9820146569</small>
        </div>
       
    </div>

    <nav class="navbar navbar-expand-lg  py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="col-lg-5 col-md-4 px-5 text-start">
            <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
                <img _ngcontent-ifm-c51="" src="../assets/img/vastralogo_1.png" alt="main_logo" class="navbar-brand-img h-100">
            </a>
        </div>
        
        <div _ngcontent-lgr-c65="" class="col-lg-4 col-md-6 col-12 d-xl-block text-center">
            <small _ngcontent-lgr-c65="" class="menu"><a _ngcontent-lgr-c65="" href="home">Home</a></small> 
            <small _ngcontent-lgr-c65="" class="ms-4 menu"><a _ngcontent-lgr-c65="" href="about">About Us</a></small>
            <small _ngcontent-lgr-c65="" class="ms-4 menu"><a _ngcontent-lgr-c65="" href="contact">Contact Us</a></small>
            <small _ngcontent-lgr-c65="" class="ms-4 menu"><a _ngcontent-lgr-c65="" href="blog">Blog</a></small>
        </div>

        <div class="col-lg-4 col-md-12 col-12 px-2">
            <div class="input-div mar-0" >
                <form action="/a/search" method="get" class="" role="" >
                    <button type="submit" class="text-link site-header__search-btn" (click)="onSearch()"  style="background: none;border: 0;">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 54 54"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"></path></svg>
                        <span class="icon__fallback-text"></span>
                    </button>
                    <input [(ngModel)]="search" type="search" name="q" value="" placeholder="Search by products.." class="site-header__search-input" aria-label="Search products here...." autocomplete="off">
                </form>
            </div>
        </div>
    </nav>
       
    <div class="announcement-bar">
        <div class="page-width" *ngFor="let data of Notification">
            <span>{{data.NotificationTitle}}<a href="{{data.ButtonUrl}}" class="btn-browse">&nbsp;{{data.ButtonText}}</a></span>
        </div>  
    </div>
    <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
       
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="true">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-xxl" id="navbarCollapse">
            <div class="navbar-nav px-lg-4">
                <div class="nav-item dropdown px-2" *ngFor="let data of categorySubcategory">
                    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" >{{data.Category_Name}}</a>
                    <div class="dropdown-menu m-0" >
                        <a  (click)="onSubCategoryClick(data,item)" class="dropdown-item" *ngFor="let item of data.subCat;">{{item.SubCategory}}</a>
                    </div>
                </div>
            </div>
            
        </div>
    </nav>
     
</div>
<!-- Navbar End -->


<script>

</script>