
   

<!-- Product Start -->
<div class="container-xxl py-13">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList"><li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="">
                <span itemprop="name" style="font-weight: bold;">Home</span>
                </a><meta itemprop="position" content="1"></li><li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/blog">
                <span itemprop="name" style="font-weight: bold;">Blog</span>
                </a><meta itemprop="position" content="2"></li><li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" >
                <span itemprop="name" style="font-weight: bold; color: #ed3237;">Blog Content</span>
                </a></ol> 
            </nav>
        </div>
        <div class="container-sm py-5">
            <div class="row g-0 gx-5 ">
                <div class="col-lg-7 col-md-7 col-12">
                    <div class="row g-5 align-items-center" *ngFor="let data of blogContent">
                        <div class="blog-heading">
                            <h3 class="font-weight-bold text-dark py-4">{{data.Blog_Title}}</h3>
                        </div>
                           <img class="big_img mt-sm-2 pb-3" src="../assets/img/blog/{{data.Image_Name}}">
                           <div [innerHTML] style="margin-top: 20px;" >{{data.Blog_Content}}</div>
                    </div>
                </div>
            
                <div class="col-lg-4 col-12">
                    <div py-5 ><h4 class="font-weight-bold text-dark py-4">Recent Blog</h4></div>
                    
                    <div class="blog-card d-flex" *ngFor="let blog of blogList" >
                        <img class="img-small" src="../assets/img/blog/{{blog.Image_Name}}" alt="">
                       <small>
                         <p class="font-weight-bold color pointer" (click) ="onClick(blog)">{{blog.Blog_Title}}<p>
                         <!-- <p class="color">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
                       </small> 
                    </div>

                </div>
            </div>
        </div>  
    </div>
</div>







