
<div class="Pro_SubCat-form">
    <form class="blog" [formGroup]="Pro_SubCatForm">
      <div class="row">
        <div class="col-md-12 roundedTextBox mb-3">
          <label>Category Name</label>
            <select [(ngModel)]="Category_Id" class="form-control" formControlName="Category_Id">
              <option>Select</option>
              <option *ngFor="let web of CategoryName" value="{{web.Category_Id}}" [(ngModel)]="Category_Id" id="inputCategory_Id" formControlName="Category_Id"> 
                  {{web.Category_Name}}
              </option>
          </select>
          <div *ngIf="submitted && formControl.Category_Id.errors" class="text-danger">
            <div *ngIf="formControl.Category_Id.errors.required">Category Name is required.</div>
          </div>
       </div>
        <div class="col-md-12 roundedTextBox mb-3">
          <label>Sub Category Name</label>
          <input type="text"  [(ngModel)]="Sub_Cat_Name" class="form-control mb-2" id="inputSub_Cat_Name" formControlName="Sub_Cat_Name" placeholder="Enter Sub Category Name">
          <div *ngIf="submitted && formControl.Sub_Cat_Name.errors" class="text-danger">
            <div *ngIf="formControl.Sub_Cat_Name.errors.required">Sub Category Name is required.</div>
          </div>
        </div>
        <!-- <div class="col-md-12 roundedTextBox mb-3">
            <label>Category Photo</label>
            <div class="col-sm-10">
                <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                <div><img [src]="url" *ngIf="url"></div>
                <p>
                    <input type="file"  [(ngModel)]="Sub_Cat_Photo"  id="inputSub_Cat_Photo" formControlName="Sub_Cat_Photo">
                </p>
            </div>
            <div *ngIf="submitted && formControl.Sub_Cat_Photo.errors" class="text-danger">
              <div *ngIf="formControl.Sub_Cat_Photo.errors.required">Sub Category Photo is required.</div>
            </div>
        </div> -->
    </div>
      <br>
      <div class="buttons text-center">
          <button type="button" *ngIf="subcategory.Id==0" class="btn btn-primary" (click)="addSubProductCategory()">Add</button>
          <button type="button" *ngIf="subcategory.Id!=0" class="btn btn-primary" (click)="updateSubProductCategory()">Update</button>
      </div>
    </form>
</div> 

