    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let data of menulist">
            <a class="nav-link" href="{{data.Url}}">
            <div class="text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">{{data.Menu}}</span>
            </a>
        </li>
        </ul>
    </div>