
<!-- <p>home works!</p> -->
<!-- Spinner Start -->
<!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" role="status"></div>
</div> -->
<!-- Spinner End -->


<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="../assets/img/banner.jpg" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div _ngcontent-lgr-c48="" class="col-lg-5">
                                <h1 _ngcontent-lgr-c48="" class="display-7  slideInDown">Custom Clothing</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <img class="w-100" src="../assets/img/banner.jpg" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div _ngcontent-lgr-c48="" class="col-lg-5">
                                <h1 _ngcontent-lgr-c48="" class="display-7  slideInDown">Custom Clothing</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        
    </div>
</div>
<!-- Carousel End -->

 <!-- <nav class="" data-wow-delay="0.1s">
        <div class="announcement-bar">
            <div class="page-width">
              <div id="AnnouncementSlider" class="announcement-slider slick-initialized slick-slider" data-compact-style="false" data-block-count="3">
                  <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 1422px; transform: translate3d(0px, 0px, 0px);">
                   <div id="AnnouncementSlide-1590067467406" class="announcement-slider__slide slick-slide slick-active" data-index="1" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 474px;">
                      <span class="announcement-text">Accepting Cash On Delivery In Selected Areas (Rs. 60 Extra Per Order)</span>
                    </div></div></div>
                </div>
            </div>
          </div>
    </nav> -->


<!-- About Start -->
<!-- <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="assets/img/home_about.jpg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-5 mb-4"> Best Handmade Ethical Clothing From Different Parts Of India</h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                    eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <p><i class="fa fa-check text-primary me-3"></i>Great quality products</p>
                <p><i class="fa fa-check text-primary me-3"></i>Excellent fabric</p>
                <p><i class="fa fa-check text-primary me-3"></i>Personalised sizes and excellent in quality</p>
                <p><i class="fa fa-check text-primary me-3"></i>Flawless finishing</p> 
                <p><i class="fa fa-check text-primary me-3"></i>Timely delivery</p> 
                <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>
</div> -->
<!-- About End -->


<!-- Feature Start -->
<!-- <div class="container-fluid bg-light bg-icon my-5 py-6">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
            style="max-width: 500px;">
            <h1 class="display-5 mb-3">Our Features</h1>
            <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="assets/img/icon-1.png" alt="">
                    <h4 class="mb-3">Natural Process</h4>
                    <p class="mb-4">Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed vero
                        dolor duo.</p>
                    <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="assets/img/icon-2.png" alt="">
                    <h4 class="mb-3">Handmade Products</h4>
                    <p class="mb-4">Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed vero
                        dolor duo.</p>
                    <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="assets/img/icon-3.png" alt="">
                    <h4 class="mb-3">Biologically Safe</h4>
                    <p class="mb-4">Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed vero
                        dolor duo.</p>
                    <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Feature End -->



<!-- Product Start -->
<div class="container-xxl py-5">
    <div class="container" >
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-7">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="display-5 mb-3">Most popular categories</h1>
                    <!-- <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.
                    </p> -->
                </div>
            </div>
            
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s"
                        *ngFor="let data of productcategoryList">
                        <div class="product-item pointer" id="tab-1"  (click) ="onCategoryClick(data)">
                            <div class="text-center p-4  ">
                                <!-- <a class="d-block h5 mb-2" [routerLink] ="['products/','data.Category_Id']" >{{data.Category_Name}}</a> -->
                                <a class="d-block h5 mb-2"  >{{data.Category_Name}}</a>
                                <!-- <span class="text-primary me-1">{{data.productPrice|currency:"INR"}}</span>
                                <span class="text-body text-decoration-line-through">$29.00</span> -->
                            </div>
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid" src="../assets/img/category/{{data.Category_Photo}}" alt="">
                                <!-- <div
                                    class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New</div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <a class="btn btn-primary rounded-pill py-3 px-5" href="/category">View More</a>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product End -->

<div class="container-fluid bg-light bg-icon py-6 mb-5">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Customer Revssiew</h1>
            <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item position-relative bg-white p-5 mt-4">
                <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 rounded-circle" src="assets/img/testimonial-1.jpg" alt="">
                    <div class="ms-3">
                        <h5 class="mb-1">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-item position-relative bg-white p-5 mt-4">
                <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 rounded-circle" src="assets/img/testimonial-2.jpg" alt="">
                    <div class="ms-3">
                        <h5 class="mb-1">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-item position-relative bg-white p-5 mt-4">
                <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg" alt="">
                    <div class="ms-3">
                        <h5 class="mb-1">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-item position-relative bg-white p-5 mt-4">
                <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 rounded-circle" src="assets/img/testimonial-4.jpg" alt="">
                    <div class="ms-3">
                        <h5 class="mb-1">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Testimonial Start -->
 <div class="container-fluid bg-light bg-icon py-6 mb-5">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Customer Reviews</h1>
            <p class="color bold">Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s" style="display:flex;">
            <div class="testimonial-item position-relative bg-white p-5 mt-4" style="margin-right: 20px;" *ngFor="let data of customerReview">
                <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                <p class="mb-4 color">{{data.Review}}</p>
                <div class="d-flex align-items-center" >
                    <img class="flex-shrink-0 rounded-circle" src="assets/img/client_reviews/{{data.Client_Photo}}" alt="">
                    <div class="ms-3">
                        <span _ngcontent-pwo-c49="" class="rating-static rating-50"></span>
                        <h5 class="mb-1">{{data.Client_Name}}</h5>
                        <span>{{data.Profession}}</span>
                    </div>
                </div>
            </div>
            </div>
            </div>
       </div>     
           
<!-- Testimonial End -->


<!-- Blog Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Latest Blog</h1>
            <p style="color: #000; font-weight: 500;">Find best fashion blogs on latest trends, styles, tips, ideas...</p>
        </div>
        <div class="row g-4" >
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let data of blogList">    
       
                <img class="img-fluid" src="../assets/img/blog/{{data.Image_Name}}">
                <div class="bg-light p-4">
                    <a class="d-block h5 lh-base mb-4 me-3" (click) ="onClick(data)">{{data.Blog_Title}}</a>
                    <div class="text-muted border-top pt-2">
                        <!-- <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small> -->
                        <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>{{data.Updated_Date | date}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->

  <!-- JavaScript Libraries -->

  
