<!-- 
<div class="form-group row">
    <label class="col-sm-6">Category</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Category_Name"
        placeholder="Enter Category Name">
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-6">Category Description</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Category_Description"
        placeholder="Enter Category Description">
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-6">Category Photo</label>
    <div class="col-sm-10">
        <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
	    <div><img [src]="url" *ngIf="url"></div>
	    <p>
		    <input type="file" (change)="selectFile($event)" [(ngModel)]="Category_Photo">
	    </p>
    </div>
</div>

<button (click)="addProductCategory()" *ngIf="productcategory.Category_Id==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateProductCategory()" *ngIf="productcategory.Category_Id!=0" class="btn btn-primary">
    Update
</button> -->



<div class="Pro_Cat-form">
    <form class="blog" [formGroup]="Pro_CatForm" >
      <div class="row">
        <div class="col-md-12 roundedTextBox mb-3">
            <label>Category Name</label>
            <input type="text"  [(ngModel)]="Category_Name" class="form-control mb-2" id="inputCategory_Name" formControlName="Category_Name" placeholder="Enter Category Name">
            <div *ngIf="submitted && formControl.Category_Name.errors" class="text-danger">
              <div *ngIf="formControl.Category_Name.errors.required">Category Name is required.</div>
            </div>
        </div>
        <div class="col-md-12 roundedTextBox mb-3">
          <label>Category Description</label>
          <input type="text"  [(ngModel)]="Category_Description" class="form-control mb-2" id="inputCategory_Description" formControlName="Category_Description" placeholder="Enter Category Description">
          <div *ngIf="submitted && formControl.Category_Description.errors" class="text-danger">
            <div *ngIf="formControl.Category_Description.errors.required">Category Description is required.</div>
          </div>
        </div>
        <div class="col-md-12 roundedTextBox mb-3">
            <label>Category Photo</label>
            <div class="col-sm-10">
                <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                <div><img [src]="url" *ngIf="url"></div>
                <p>
                    <input type="file"  [(ngModel)]="Category_Photo" (change)="selectFile($event)"   id="inputCategory_Photo" formControlName="Category_Photo">
                </p>
            </div>
            <div *ngIf="submitted && formControl.Category_Photo.errors" class="text-danger">
              <div *ngIf="formControl.Category_Photo.errors.required">Category Photo is required.</div>
            </div>
        </div>
    </div>
      <br>
      <div class="buttons text-center">
          <button type="button" *ngIf="productcategory.Category_Id==0" class="btn btn-primary" (click)="addProductCategory()">Add</button>
          <button type="button" *ngIf="productcategory.Category_Id!=0" class="btn btn-primary" (click)="updateProductCategory()">Update</button>
      </div>
    </form>
</div> 
