
<div class="notification-form">
    <form class="blog" [formGroup]="NotificationForm" >
      <div class="row">
        <div class="col-md-12 roundedTextBox mb-3">
            <label>Notification Title</label>
            <input type="text"  [(ngModel)]="NotificationTitle" class="form-control mb-2" id="inputNotificationTitle" formControlName="NotificationTitle" placeholder="Enter Notification Title">
            <div *ngIf="submitted && formControl.NotificationTitle.errors" class="text-danger">
              <div *ngIf="formControl.NotificationTitle.errors.required">Notification Title is required.</div>
            </div>
        </div>
        <div class="col-md-12 roundedTextBox mb-3">
          <label>From Date</label>
          <input type="datetime-local"  [(ngModel)]="FromDate" class="form-control mb-2" id="inputFromDate" formControlName="FromDate" placeholder="Enter From Date">
          <div *ngIf="submitted && formControl.FromDate.errors" class="text-danger">
            <div *ngIf="formControl.FromDate.errors.required">From Date is required.</div>
          </div>
        </div>
        <div class="col-md-12 roundedTextBox mb-3">
            <label>To Date</label>
            <input type="datetime-local"  [(ngModel)]="ToDate" class="form-control mb-2" id="inputToDate" formControlName="ToDate" placeholder="Enter To Date">        
               <div *ngIf="submitted && formControl.ToDate.errors" class="text-danger">
              <div *ngIf="formControl.ToDate.errors.required">To Date is required.</div>
            </div>
        </div>
        <div class="col-md-12 roundedTextBox mb-3">
            <label>Button Text</label>
            <input type="text"  [(ngModel)]="ButtonText" class="form-control mb-2" id="inputButtonText" formControlName="ButtonText" placeholder="Enter Button Text">        
               <div *ngIf="submitted && formControl.ButtonText.errors" class="text-danger">
              <div *ngIf="formControl.ButtonText.errors.required">To Date is required.</div>
            </div>
        </div>
        <div class="col-md-12 roundedTextBox mb-3">
            <label>ButtonUrl</label>
            <input type="text"  [(ngModel)]="ButtonUrl" class="form-control mb-2" id="inputButtonUrl" formControlName="ButtonUrl" placeholder="Enter Button Url">        
               <div *ngIf="submitted && formControl.ButtonUrl.errors" class="text-danger">
              <div *ngIf="formControl.ButtonUrl.errors.required">To Date is required.</div>
            </div>
        </div>
      
    </div>
      <br>
      <div class="buttons">
          <button type="button" *ngIf="notification.NotificationId==0" class="btn btn-primary" (click)="addNotification()">Add</button>
          <button type="button" *ngIf="notification.NotificationId!=0" class="btn btn-primary" (click)="updateNotification()">Update</button>
      </div>
    </form>
</div> 

