
<!-- <div class="form-group row">
    <label class="col-sm-2">Blog Title :</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Blog_Title"
        placeholder="Enter Blog Title">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2">Blog Topic :</label> 
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Blog_Topic"
        placeholder="Enter Blog Topic">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2">Blog Content :</label>
    <div class="col-sm-10">
        <textarea rows="6" cols="43" placeholder="Enter Blog Content" [(ngModel)]="Blog_Content"></textarea>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2">Blog Photo :</label>
    <div class="col-sm-10">
        <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
	    <div><img [src]="url" *ngIf="url"></div>
	    <p>
		    <input type="file" (change)="selectFile($event)" [(ngModel)]="Image_Name">
	    </p>
    </div>
</div>
<button (click)="addBlog()" *ngIf="blog.Blog_Id==0" class="btn btn-primary">
    Add
</button>
<button (click)="updateBlog()" *ngIf="blog.Blog_Id!=0" class="btn btn-primary">
    Update
</button> -->

<div class="blog-form">
    <form class="blog" [formGroup]="blogForm" >
      <div class="row">
        <div class="col-md-12 roundedTextBox mb-3">
            <label>Blog Title : </label>
            <input type="text"  [(ngModel)]="Blog_Title" class="form-control mb-2" id="inputBlog_Title" formControlName="Blog_Title" placeholder="Enter Blog Title">
            <div *ngIf="submitted && formControl.Blog_Title.errors" class="text-danger">
              <div *ngIf="formControl.Blog_Title.errors.required">Blog Title is required.</div>
            </div>
        </div>
        <div class="col-md-12 roundedTextBox mb-3">
          <label>Blog Topic :</label>
          <input type="text"  [(ngModel)]="Blog_Topic" class="form-control mb-2" id="inputBlog_Topic" formControlName="Blog_Topic" placeholder="Enter Blog Topic">
          <div *ngIf="submitted && formControl.Blog_Topic.errors" class="text-danger">
            <div *ngIf="formControl.Blog_Topic.errors.required">Blog  Topic is required.</div>
          </div>
        </div>
        <div class="col-md-12 roundedTextBox mb-3">
            <label>Blog Content :</label>
            <textarea rows="8" cols="43" type="text"  [(ngModel)]="Blog_Content" class="form-control mb-2" id="inputBlog_Content" formControlName="Blog_Content" placeholder="Enter Blog Content"></textarea>
            <div *ngIf="submitted && formControl.Blog_Content.errors" class="text-danger">
              <div *ngIf="formControl.Blog_Content.errors.required">Blog Content is required.</div>
            </div>
        </div>
        <div class="col-md-12 roundedTextBox mb-3">
            <label>Blog Photo :</label>
            <div class="col-sm-10">
                <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                <div><img [src]="url" *ngIf="url"></div>
                <p class="color">
                    <input type="file"  [(ngModel)]="Image_Name"  id="inputImage_Name" formControlName="Image_Name">
                </p>
            </div>
            <div *ngIf="submitted && formControl.Image_Name.errors" class="text-danger">
              <div *ngIf="formControl.Image_Name.errors.required">Photo is required.</div>
            </div>
        </div>
    </div>
      <br>
      <div class="buttons">
          <button type="button" *ngIf="blog.Blog_Id==0" class="btn btn-primary" (click)="addBlog()">Add</button>
          <button type="button" *ngIf="blog.Blog_Id!=0" class="btn btn-primary" (click)="updateBlog()">Update</button>
      </div>
    </form>
</div> 
