<div class="container-xxl pt-12">
    <div class="container" >
        <div class="row g-0 gx-5 align-items-end">
             <div class="col-lg-10">
                <div class="section-header text-start  wow fadeInUp" data-wow-delay="0.1s"  >
                    <h1 class="display-5 mb-3">Frequently Ask Questions</h1>
                </div> 
            </div> 
        </div>
    </div>
</div>

<div class="container-xxl" id="navbarCollapse">
    <div class="navbar-nav px-lg-4">
        <div class="nav-item dropdown px-2" >
            <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" >How do I take advantage of bulk discounting?</a>
        <div class="nav-item dropdown px-2" >
            <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" >How do I take advantage of bulk discounting?</a>
            <div class="dropdown-menu m-0" >
                <a href="" class="dropdown-item">To deliver the most competitive, every day low prices to our customers, we now offer reduced prices on eligible sale items automatically, regardless of cart size. </a>
            </div>
        </div>
        <div class="nav-item dropdown px-2" >
            <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" >How do I take advantage of bulk discounting?</a>
            <div class="dropdown-menu m-0" >
                <a href="" class="dropdown-item">To deliver the most competitive, every day low prices to our customers, we now offer reduced prices on eligible sale items automatically, regardless of cart size. Sale prices are displayed directly on the product pages and notated in blue.

                    Buy more, save more is still our motto! Eligible bulk orders $80 and up are still automatically discounted in cart. Unlike before, sale items may actually be eligible for additional bulk discounts, but at a maximum rate that factors in any reduced pricing that has already been applied.  </a>
            </div>
        </div>
        <div class="nav-item dropdown px-2" >
            <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" >How do I take advantage of bulk discounting?</a>
            <div class="dropdown-menu m-0" >
                <a href="" class="dropdown-item">To deliver the most competitive, every day low prices to our customers, we now offer reduced prices on eligible sale items automatically, regardless of cart size. Sale prices are displayed directly on the product pages and notated in blue.

                    Buy more, save more is still our motto! Eligible bulk orders $80 and up are still automatically discounted in cart. Unlike before, sale items may actually be eligible for additional bulk discounts, but at a maximum rate that factors in any reduced pricing that has already been applied.  </a>
            </div>
        </div>
        <div class="nav-item dropdown px-2" >
            <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" >How do I take advantage of bulk discounting?</a>
            <div class="dropdown-menu m-0" >
                <a href="" class="dropdown-item">To deliver the most competitive, every day low prices to our customers, we now offer reduced prices on eligible sale items automatically, regardless of cart size. Sale prices are displayed directly on the product pages and notated in blue.

                    Buy more, save more is still our motto! Eligible bulk orders $80 and up are still automatically discounted in cart. Unlike before, sale items may actually be eligible for additional bulk discounts, but at a maximum rate that factors in any reduced pricing that has already been applied.  </a>
            </div>
        </div>
    </div>
    
</div>