<div class="container-xxl pt-12">
    <div class="container" >
        <div class="row g-0 gx-5 align-items-end">
             <div class="col-lg-10">
                <div class="section-header text-start  wow fadeInUp" data-wow-delay="0.1s"  >
                    <h1 class="display-5 mb-3">Frequently Ask Questions</h1>
                </div> 
            </div> 
        </div>
    </div>
</div>

<div class="container-xxl" id="navbarCollapse">
    <div class="navbar-nav px-lg-4">
        <div class="nav-item dropdown px-2" *ngFor="let data of faqList" >
            <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" >{{data.Question}}</a>
            <div class="dropdown-menu m-0" >
                <a href="" class="dropdown-item">{{data.Answer}}</a>
            </div>
        </div>
    </div>
    
</div>